.mainLayout {
  max-width: var(--max-width);
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../../assets/images/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 320px;
  padding: 0 100px 0 100px;
  margin: 0 auto;
}

.mainLayout h1 {
  margin: 70px 0 0 0;
}

.mainLayout p {
  font-size: 14px;
  font-weight: 400;
  color: #9095a0ff;
  margin-top: 12px;
}

@media only screen and (max-width: 767px) {
  .mainLayout {
    padding: 0 36px;
  }

  .h1 {
    margin: 36px 0 0 0;
    font-size: 36px;
  }
}
