.featureContainer {
  background-color: #171a1fff;
  padding: var(--standard-padding);
}

.innerLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: var(--max-width);
  margin: var(--standard-margin);
}

.innerLayout p {
  color: aliceblue;
  font-size: var(--standard-p-fontSize);
  font-weight: var(--standard-p-fontWeight);
}

.innerLayout h2 {
  color: aliceblue;
  font-size: var(--standard-h2-fontSize);
  font-weight: var(--standard-h2-fontWeight);
  margin: var(--standard-margin);
}

.innerLayout button {
  margin-bottom: 50px;
}

.svgLogo {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .featureContainer {
    --standard-padding: 45px 27px;
  }
}
