.featureContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 1203px; */
  background-color: #171a1fff;
  margin: 0 0 63px 0;
  padding: var(50px;);
}

.innerLayout {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.featureContainer p {
  color: aliceblue;
  margin: 0px;
}

.featureContainer h2 {
  color: aliceblue;
  margin: 10px 0 10px 0;
}

.featureContainer button {
  margin-bottom: 50px;
}

.svgLogo {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .featureContainer {
    padding: 45px 27px;
  }
}
