.featureContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 1203px; */
  background-color: var(--background-color-171a1ff);
  margin: var(--margin-0-63);
  padding: var(--padding-50);
}

.innerLayout {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.featureContainer p {
  color: var(--font-color-aliceblue);
  margin: var(--margin-0);
}

.featureContainer h2 {
  color: var(--font-color-aliceblue);
  margin: var(--margin-10-0);
}

.featureContainer button {
  margin-bottom: 50px;
}

.svgLogo {
  width: var(--width-100-percent);
  height: var(--height-auto);
}

@media only screen and (max-width: 767px) {
  .featureContainer {
    padding: 45px 27px;
  }
}
