.mainLayout {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../../assets/images/ctaOne.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  width: 100%;
  background-color: black;
}

.mainLayout h2 {
  margin: var(--margin-100-0);
  font-size: var(--font-size-48);
  font-weight: var(--font-weight-700);
  color: var(--font-color-white);
  left: 498px;
  line-height: var(--line-height-68);
}

@media only screen and (max-width: 767px) {
  .mainLayout h2 {
    font-size: var(--font-size-36);
    margin: var(--margin-50-0);
  }
}
