.mainLayout {
  background-color: var(--background-color-171a1ff);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--font-color-white);
}

.video {
  width: 190px;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: var(--padding-50);
}

.social img {
  margin-left: 8px;
  width: 32px;
}

.footerMenu {
  padding: var(--padding-50);
  margin-right: 50px;
}

.footerMenu li {
  list-style: none;
  padding-top: var(--padding-top-8);
}

.footerMenu a {
  text-decoration: none;
  color: var(--font-color-white);
}

@media only screen and (max-width: 1024px) {
  .footerMenu {
    padding: var(--footerMenu-media-padding);
    margin-right: var(--margin-right-0);
  }

  .footerLogo {
    padding: var(--footerMenu-media-padding);
  }
}

@media only screen and (max-width: 767px) {
  .footerLogo {
    justify-content: unset;
  }

  .footerLogo {
    width: 50%;
    align-items: start;
    padding: var(--footerLogo-padding);
  }

  .footerMenu {
    width: 50%;
    padding: var(--footerLogo-padding);
  }

  .mainLayout {
    flex-wrap: wrap;
    padding: var(--footer-mainLayout-padding);
  }

  .video {
    width: 135px;
  }

  .social img {
    width: 20px;
  }
}
