.mainLayout {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../../assets/images/ctaOne.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  width: 100%;
  background-color: black;
}

.mainLayout h2 {
  margin: 100px 0 0 0;
  font-size: 48px;
  font-weight: 700;
  color: #ffffffff;
  left: 498px;
  line-height: 68px;
}

@media only screen and (max-width: 767px) {
  .mainLayout h2 {
    font-size: 36px;
    margin: 50px 0 0 0;
  }
}