.mainLayout {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  background-color: var(--background-color-fafafbff);
  justify-content: space-between;
  align-items: center;
  padding: var(--textFeatureTwo-mainLayout-padding);
}

.mainLayout h2 {
  font-size: var(--font-size-48);
  font-weight: var(--font-weight-700) px;
}

.mainLayout p {
  max-width: 400px;
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-400);
}

@media only screen and (max-width: 1024px) {
  .mainLayout {
    padding: var(--padding-45);
  }
}

@media only screen and (max-width: 767px) {
  .mainLayout {
    flex-direction: column;
    justify-content: center;
  }

  .mainLayout h2 {
    font-size: var(--font-size-36);
  }
}
