.mainLayout {
  max-width: var(--max-width);
  margin: var(--standard-margin);
  background-color: #fafafbff;
  padding: var(--standard-padding);
}
.innerLayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: var(--standard-margin);
}
.mainLayout h2 {
  font-size: var(--standard-h2-fontSize);
  font-weight: var(--standard-h2-fontWeight);
}

.mainLayout p {
  font-weight: var(--standard-p-fontWeight);
  font-size: 20px;
  max-width: 400px;
}

@media only screen and (max-width: 1024px) {
  .mainLayout {
    --standard-padding: 45px 27px;
  }
}

@media only screen and (max-width: 767px) {
  .mainLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    --standard-padding: 45px 27px;
  }
  .innerLayout {
    flex-direction: column;
  }

  .mainLayout h2 {
    font-size: 30px;
  }
}
