.featureImageLayout {
  background: var(--background-color-171a1fff);
  padding: var(--padding-100);
  max-width: 100vw;
  height: auto;
}

.featureImageLayout1 {
  background: var(--background-color-white);
  padding: var(--padding-100);
  max-width: 100vw;
  height: auto;
}

.innerLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftLayout {
  display: flex;
  flex-direction: column;
  max-width: 396px;
}

.h4White {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-30);
  color: var(--font-color-white);
}

.h2White {
  font-size: var(--font-size-40);
  line-height: var(--line-height-56);
  color: var(--font-color-white);
}

.pWhite {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-26);
  color: var(--font-color-white);
}

.h4Black {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-600);
  line-height: var(--line-height-30);
  color: var(--font-color-black);
}

.h2Black {
  font-size: var(--font-size-40);
  line-height: var(--line-height-56);
  color: var(--font-color-black);
}

.pBlack {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-26);
  color: var(--font-color-black);
}

.image {
  width: 50%;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  .image {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .featureImageLayout,
  .featureImageLayout1 {
    padding: var(--padding-100);
  }

  .innerLayout {
    flex-direction: column-reverse;
  }
}
