.mainLayout {
  background-image: url(../../../assets/images/hero.png);
  padding: var(--standard-padding);
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  max-width: var(--max-width);
  margin: 0 auto;
}

.p {
  color: #9095a0ff;
}

.h1 {
  font-size: 50px;
}

.imageHolder {
  max-width: 1600px;
  display: block;
  margin: 0 auto;
  padding: 0 50px 80px;
}

.imageHolder img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .mainLayout {
    --standard-padding: 45px 27px;
  }

  .h1 {
    font-size: 36px;
  }

  .imageHolder {
    padding: 0 27px 45px;
  }
}
