.container {
  height: 617px;
  max-width: var(--max-width);
  background: #fafafbff;
  border-radius: 4px;
  display: flex;
  gap: var(--gap-10);
  overflow: hidden;
}

.textWrapper {
  height: 617px;
  max-width: 30%;
  display: flex;
  flex-direction: column; /* Ensure it's a column layout for vertical alignment */
  /* align-items: center; */
  justify-content: center;
  margin-left: 100px;
}

.textWrapper p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #323842ff;
}

.textWrapper h2,
.textWrapper p,
.textWrapper a {
  display: inline-flex;
}

.iconsWrapper {
  display: flex;
  max-width: 316px;
  align-items: center;
  gap: var(--gap-24);
}

.icon {
  font-size: 15px;
  color: #9095a0ff;
  border-color: #bcc1caff;
  height: 40px;
  padding: var(--blogSlider-icon-padding);
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

.icon:hover {
  color: #b800e6ff;
}

.divider {
  min-width: 70%;
}

.cardWrapper {
  display: flex;
  max-width: 40%;
  gap: var(--gap-10);
  align-items: center;
  /* justify-content: center; */
}
