.mainLayout {
  margin: var(--standard-margin);
  padding: var(--standard-padding);
  background: #fafafbff;
}
.innerLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
}

.wrpperCarousel {
  width: 50%;
}

.textWrapper {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.textWrapper p {
  font-size: var(--standard-p-fontSize);
  font-weight: var(--standard-p-fontWeight);
  line-height: 30px;
  color: #323842ff;
}
.textWrapper h2 {
  font-size: var(--standard-h2-fontSize);
  font-weight: var(--standard-h2-fontWeight);
  display: inline-flex;
}

.textWrapper a {
  display: inline-flex;
}

.iconsWrapper {
  display: flex;
  max-width: 316px;
  align-items: center;
  gap: 24px;
}

.icon {
  font-size: 15px;
  color: #9095a0ff;
  border-color: #bcc1caff;
  height: 40px;
  padding: 0px 16px;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
}

.icon:hover {
  color: #b800e6ff;
}

.divider {
  min-width: 70%;
}

.cardWrapper {
  display: flex;
  max-width: 40%;
  gap: 10px;
  align-items: center;
  /* justify-content: center; */
}

.carousal {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .mainLayout {
    --standard-padding: 45px 27px;
  }
  .innerLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--max-width);
  }
  .textWrapper {
    max-width: 100%;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .wrpperCarousel {
    width: 100%;
  }

  .iconsWrapper {
    max-width: 200px;
  }
}
