.containerMission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #171a1fff;
  margin: 0 0 62px 0;
  padding: 50px;
  color: #fff;
}
.missionDescription {
  display: flex;
  text-align: center;
  justify-content: center;
}
.missionDescription p {
  max-width: 700px;
}
