.mainLayout {
  background-color: #171a1fff;
  /* margin: 0 0 62px 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 80px 0;
  color: #fff;
}

.mainLayout h2 {
  margin: 40px 0 20px 0;
}

.mainLayout p {
  max-width: 600px;
  text-align: center;
}