.cardLayout {
  max-width: 358px;
  height: 443px;
  background: #ffffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f;
  position: relative;
}

.blogImage {
  border-radius: 20px 20px 0 0;
}

.cardLayout h3 {
  max-width: auto;
  max-height: auto;
  margin: 13px 13px 0 13px;
  font-size: 25px;
  font-weight: 700;
  line-height: 28px;
  color: #171a1fff;
}

.span {
  margin: 13px 0 0 13px;
  width: auto;
  height: auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #9095a0ff;
}

.cardLayout p {
  /* margin-left: 13px; */
  margin: 5px 80px 0 13px;
  max-width: auto;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #171a1fff;
  /* margin-right: 80px; */
}

.tagContainer {
  bottom: 0;
  position: absolute;
  margin: 0 29px 13px 13px;
}
