.cardLayout {
  max-width: 358px;
  height: 443px;
  background: var(--background-color-white);
  border-radius: var(--border-radius-20);
  box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f;
  position: relative;
}

.blogImage {
  border-radius: var(--border-radius-20-20);
}

.cardLayout h3 {
  max-width: auto;
  max-height: auto;
  margin: var(--margin-13-13);
  font-size: var(--font-size-25);
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-28);
  color: var(--font-color-171a1ff);
}

.span {
  margin: var(--margin-13-0);
  width: auto;
  height: auto;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-20);
  color: var(--font-color-9095a0ff);
}

.cardLayout p {
  /* margin-left: 13px; */
  margin: var(--margin-5-80);
  max-width: auto;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-20);
  color: var(--font-color-171a1ff);
  /* margin-right: 80px; */
}

.tagContainer {
  bottom: 0;
  position: absolute;
  margin: var(--margin-0-29);
}
