.mainLayout {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  height: auto;
  background: var(--background-color-1d2128ff);
  border-radius: var(--border-radius-10);
  padding: var(--cardModule-mainLayout-padding);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  color: var(--font-color-white);
}

.cardFooter {
  display: flex;
  gap: var(--gap-42);
  margin-top: 32px;
}

.image {
  max-width: 77px;
  max-width: 77px;
  background: var(--background-color-ffbdd7ff);
  opacity: 1;
  overflow: hidden;
  border-radius: var(--border-radius-39);
}

.description {
  display: flex;
  flex-direction: column;
  max-width: 150px;
}

.name {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-600);
  color: var(--font-color-white);
}

.companyName {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-26);
  color: var(--font-color-bcc1caff);
}
