.mainLayout {
  display: flex;
  flex-direction: column;
  padding: var(--priceCard-mainLayout-padding);
  background-color: --background-color-white;
  border-radius: var(--border-radius-4);
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
}

.mainLayout h1 {
  font-size: var(--font-size-48);
  font-weight: var(--font-weight-400);
  margin: var(--margin-12-auto);
  text-align: center;
}

.mainLayout p {
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-400);
  color: var(--font-color-171a1ff);
  text-align: center;
  margin: var(--margin-0);
}

.lineSeparator {
  border-bottom: 1px solid #bcc1caff;
  height: 2px;
  margin-top: 12px;
}

.mainLayout h4 {
  text-align: center;
  margin: var(--margin-24-0);
}

.mainLayout ul {
  margin: var(--margin-0);
  padding: var(--padding-0);
}

.mainLayout li {
  display: flex;
  gap: var(--gap-10);
  align-items: center;
  list-style: none;
  margin-bottom: 30px;
}

.mainLayout Button {
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .mainLayout {
    padding: var(--priceCard-mainLayout-media-padding);
  }

  .mainLayout h1 {
    font-size: var(--font-size-36);
  }
}
