body {
  font-family: Catamaran;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  margin: 0 auto;
  color: #323842ff;
}

h2 {
  font-size: 48px;
  margin: 0 auto;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  margin: 0 auto;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  margin: 0 auto;
  font-weight: 700;
  line-height: 30px;
}

p {
  font-size: 14px;
  font-weight: 400;
}

:root {
  --max-width: 1600px;
  --standard-margin: 0 auto;
  --standard-padding: 80px 50px;

  --width-100-percent: 100%;
  --height-auto: auto;
  --gap-50: 50px;
  --gap-27: 27px;
  --gap-10: 10px;
  --gap-24: 24px;
  --gap-20: 20px;
  --gap-2: 2px;
  --gap-100: 100px;
  --gap-16: 16px;
  --gap-42: 42px;
  --blogContainer-padding: 0px 100px 50px 100px;
  --blogContainer-1350-padding: 0px 50px 50px 50px;
  --blogContainer-1024-padding: 0 36px 45px;
  --blogSlider-icon-padding: 0px 16px;
  --contentSection-padding: 30px 100px;
  --faq-mainLayout-Padding: 20px;
  --faq-h2-padding: 67px 0 67px 0;
  --faq-h2-media-padding: 45px 22px;
  --padding-100: 100px;
  --padding-27: 27px;
  --padding-50: 50px;
  --padding-top-8: 8px;
  --footerMenu-media-padding: 18px 15px;
  --footerLogo-padding: 18px 0;
  --footer-mainLayout-padding: 9px 27px;
  --hero-mainLayout-padding: 0 100px 0 100px;
  --hero-mainLayout-media-padding: 0 36px;
  --padding-bottom-72: 72px;
  --margin-right-0: 0px;
  --button-tryFree-padding: 5px 9px;
  --buttonTab-media-padding: 3px 4px;
  --button-tryFree-media-padding: 4px 7px;
  --price-mainLayout-padding: 0 50px;
  --price-mainLayout-media-padding: 0 27px;
  --priceCard-mainLayout-padding: 70px;
  --padding-0: 0px;
  --priceCard-mainLayout-media-padding: 22px;
  --cardModule-mainLayout-padding: 25px 15px 25px 15px;
  --textFeatureOne-mainLayout-padding: 50px 0 80px 0;
  --textFeatureTwo-mainLayout-padding: 84px 197px 97px 197px;
  --padding-45: 45px;
  --cta-button-padding: 0 20px;

  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-25: 25px;
  --font-size-30: 30px;
  --font-size-36: 36px;
  --font-size-40: 40px;
  --font-size-48: 48px;
  --font-size-52: 52px;
  --font-size-56: 56px;
  --font-size-085: 0.85rem;
  --font-size-09: 0.9rem;
  --font-size-08: 0.8rem;

  --font-weight-400: 400;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --font-color-white: #ffffffff;
  --background-color-white: #ffffffff;
  --background-color-fafafbff: #fafafbff;
  --font-color-aliceblue: aliceblue;
  --font-color-black: #000000;
  --font-color-171a1ff: #171a1fff;
  --background-color-171a1ff: #171a1fff;
  --font-color-9095a0ff: #9095a0ff;
  --font-color-d221ffff: #d221ffff;
  --background-color-d221ffff: #d221ffff;
  --font-color-b800e6ff: #b800e6ff;
  --font-color-565e6cff: #565e6cff;
  --background-color-00000: #00000000;
  --background-color-171a1fff: #171a1fff;
  --background-color-262a33ff: #262a33ff;
  --font-color-bcc1caff: #bcc1caff;
  --border-color-bcc1caff: #bcc1caff;
  --font-color-323842ff: #323842ff;
  --background-color-1d2128ff: #1d2128ff;
  --background-color-ffbdd7ff: #ffbdd7ff;

  --margin-0: 0px;
  --margin-0-auto: 0 auto;
  --margin-70-0: 70px 0 0 0;
  --margin-13-13: 13px 13px 0 13px;
  --margin-13-0: 13px 0 0 13px;
  --margin-13-0: 13px 0 0 13px;
  --margin-5-80: 5px 80px 0 13px;
  --margin-0-29: 0 29px 13px 13px;
  --margin-50-0: 50px 0 0 0;
  --margin-60-100: 60px 100px 0 100px;
  --margin-100-0: 100px 0 0 0;
  --margin-20-0: 20px 0 20px 0;
  --margin-0-100: 0 100px 0 100px;
  --margin-10-0: 10px 0 10px 0;
  --margin-0-63: 0 0 63px 0;
  --margin-36-0: 36px 0 0 0;
  --margin-50-100-0: 50px 100px 0 100px;
  --margin-20-18: 20px 18px 20px;
  --margin-12-auto: 12px auto;
  --margin-24-0: 24px 0 24px 0;
  --margin-68-100: 68px 100px 68px 100px;
  --margin-45-18: 45px 18px;
  --margin-40-20: 40px 0 20px 0;

  --line-height-15: 1.5;
  --line-height-20: 20px;
  --line-height-26: 26px;
  --line-height-28: 28px;
  --line-height-30: 30px;
  --line-height-56: 56px;
  --line-height-68: 68px;

  --border-none: none;
  --border-1: 1px solid;

  --border-radius-0: 0;
  --border-radius-4: 4px;
  --border-radius-10: 10px;
  --border-radius-18: 18px;
  --border-radius-20: 20px;
  --border-radius-20-20: 20px;
  --border-radius-26: 26px;
  --border-radius-39: 39px;
  --border-radius-50: 50%;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 18px;
  }
}
