body {
  margin-left: 130px; /* Adjust as needed */
  margin-right: 130px; /* Adjust as needed */
}

button {
  font-family: Poppins;
}

h1 {
  font-family: Catamaran;
  font-size: 56px;
  font-weight: 700;
  color: #323842ff;
}

p {
  font-family: Poppins;
}
