.mainLayout {
  background: var(--background-color-171a1fff);
  border-radius: var(--border-radius-4);
  width: 100%;
  height: auto;
  padding-bottom: var(--faq-mainLayout-Padding);
}
.innerLayout {
  max-width: 1600px;
  margin: 0 auto;
}

.mainLayout h2 {
  color: var(--font-color-white);
  padding: var(--faq-h2-padding);
  text-align: center;
}

.mainLayout p {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-26);
  color: var(--font-color-white);
}

.lineSeparator {
  border-bottom: 1px solid #bcc1caff;
  height: 2px;
  margin: var(--margin-20-0);
}

.container {
  margin: var(--margin-0-100);
}

@media only screen and (max-width: 1024px) {
  .mainLayout h2 {
    text-align: center;
    padding: var(--faq-h2-media-padding);
  }

  .container {
    width: 80%;
    margin: var(--margin-0-auto);
  }
}
