.mainLayout {
  background: #171a1fff;
  border-radius: 4px;
  padding: var(--standard-padding);
}
.innerLayout {
  max-width: var(--max-width);
  margin: var(--standard-margin);
}

.mainLayout h2 {
  font-size: var(--standard-h2-fontSize);
  font-weight: var(--standard-h2-fontWeight);
  color: #ffffffff;
  text-align: center;
}

.mainLayout p {
  font-size: var(--standard-p-fontSize);
  font-weight: var(--standard-p-fontWeight);
  color: #ffffffff;
}

.lineSeparator {
  border-bottom: 1px solid #bcc1caff;
  height: 2px;
  margin: 20px 0 20px 0;
}

.container {
  margin: 0 100px 0 100px;
}

@media only screen and (max-width: 1024px) {
  .mainLayout {
    --standard-padding: 45px 27px;
  }
  .mainLayout h2 {
    text-align: center;
    padding: 45px 22px;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }
}
