.blogContainer {
  max-width: var(--max-width);
  display: flex;
  gap: var(--gap-50);
  flex-wrap: wrap;
  align-items: center;
  margin: var(--margin-0-auto);
  padding: var(--blogContainer-padding);
  justify-content: center;
}

.paginatin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.blogCard {
  cursor: pointer;
}

.paginatin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.blogCard {
  cursor: pointer;
}

@media only screen and (max-width: 1350px) {
  .blogContainer {
    gap: var(--gap-27);
    padding: var(--blogContainer-1350-padding);
  }
}

@media only screen and (max-width: 1024px) {
  .blogContainer {
    padding: var(--blogContainer-1024-padding);
  }
}
