.mainLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px 0 100px;
}

.svgLogo {
  width: auto;
  height: 48px;
}

.menu {
  display: flex;
  align-items: center;
  color: #565e6cff;
  gap: 10px;
}

.buttonTab {
  border: none;
  color: #565e6cff;
  background: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.buttonTab:hover {
  font-weight: 700;
  color: #d221ffff;
}

.buttonSignin {
  border: none;
  color: #171a1fff;
  background: #00000000;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.buttonTryfree {
  font-size: 14px;
  font-weight: 400;
  color: #ffffffff;
  background: #171a1fff;
  border: none;
  border-radius: 18px;
  padding: 5px 9px;
  cursor: pointer;
}

.buttonTryfree:hover {
  color: #ffffffff;
  background: #262a33ff;
}

.buttonsLayout {
  display: flex;
  gap: 10px;
}

/* @media screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .mainLayout {
  margin: 20px 50px 0 50px;
} */

.svgLogo {
  height: 48px;
}

.menu {
  display: flex;
  align-items: center;
  color: #565e6cff;
  gap: 10px;
}

.buttonTab {
  border: none;
  color: #565e6cff;
  background: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.buttonTab:hover {
  font-weight: 700;
  color: #d221ffff;
}

.buttonsLayout {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 767px) {
  .mainLayout {
    margin: 20px 18px 20px;
  }

  .svgLogo {
    height: 30px;
  }

  .buttonTab {
    font-size: 12px;
    padding: 3px 4px;
  }

  .menu {
    gap: 2px;
  }

  .buttonsLayout {
    gap: 2px;
  }

  .buttonSignin {
    font-size: 12px;
  }

  .buttonTryfree {
    padding: 4px 7px;
    font-size: 12px;
  }
}