.contentSection {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  max-width: 1450px;
  padding: var(--contentSection-padding);
}

.contentSection p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #171a1fff;
}
