.contentSection {
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  max-width: 1450px;
  padding: var(--contentSection-padding);
}

.contentSection p {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-400);
  line-height: var(--line-height-30);
  color: var(--font-color-171a1ff);
}
