.toggle {
  display: flex;
  align-items: center;
  gap: 20px;
}

.toggle h3 {
  color: #ffffffff;
  margin: 10px 0 10px 0;
}

.upCircle {
  color: #ffffffff;
  font-size: 30px;
}

@media only screen and (max-width: 1024px) {
  .toggle {
    justify-content: space-between;
  }
}
