.toggle {
  display: flex;
  align-items: center;
  gap: var(--gap-20);
}

.toggle h3 {
  color: var(--font-color-white);
  margin: var(--margin-10-0);
}

.upCircle {
  color: var(--font-color-white);
  font-size: var(--font-size-30);
}

@media only screen and (max-width: 1024px) {
  .toggle {
    justify-content: space-between;
  }
}
