.mainLayout {
  background-color: #171a1fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}

.video {
  width: 190px;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.social img {
  margin-left: 8px;
  width: 32px;
}

.footerMenu {
  padding: 50px;
  margin-right: 50px;
}

.footerMenu li {
  list-style: none;
  padding-top: 8px;
}

.footerMenu a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .footerMenu {
    padding: 18px 15px;
    margin-right: 0;
  }

  .footerLogo {
    padding: 18px 15px;
  }
}

@media only screen and (max-width: 767px) {
  .footerLogo {
    justify-content: unset;
  }

  .footerLogo {
    width: 50%;
    align-items: start;
    padding: 18px 0;
  }

  .footerMenu {
    width: 50%;
    padding: 18px 0;
  }

  .mainLayout {
    flex-wrap: wrap;
    padding: 9px 27px;
  }

  .video {
    width: 135px;
  }

  .social img {
    width: 20px;
  }
}