.mainLayout {
  background-color: #171a1fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.social img {
  margin-left: 8px;
}

.footerMenu {
  padding: 50px;
  margin-right: 50px;
}

.footerMenu li {
  list-style: none;
  padding-top: 8px;
}

.footerMenu a {
  text-decoration: none;
  color: #fff;
}