.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 52px;
  font-size: 18px;
  color: #ffffffff; /* white */
  background: #d221ffff;
  border-radius: 26px;
  margin-top: 14px;
}
