.mainLayout {
  margin: 68px 100px 68px 100px;
}

.slider {
  display: flex;
  align-items: center;
}

.slider h2 {
  color: #171a1fff;
}

.carousal {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .mainLayout {
    margin: 45px 18px;
  }
}
