.imageLayout {
  padding: var(--standard-padding);
  max-width: var(--max-width);
}
.imageInnerLayout {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 85%;
  display: block;
  margin: 0 auto;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .imageLayout {
    --standard-padding: 45px 27px;
  }
  .image {
    max-width: 85%;
    display: block;
    margin: 0 auto;
  }
}
