.mainLayout {
  background-color: #171a1fff;
  padding: var(--standard-padding);
  color: #ffffffff;
}

.innerLayout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: var(--max-width);
  margin: var(--standard-margin);
}
.mainLayout h2 {
  font-size: var(--standard-h2-fontSize);
  font-weight: var(--standard-h2-fontWeight);
  margin: var(--standard-margin);
}

.mainLayout p {
  font-size: var(--standard-p-fontSize);
  font-weight: var(--standard-p-fontWeight);
  max-width: 530px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .mainLayout {
    --standard-padding: 45px 27px;
  }
}
