.mainLayout {
  background-color: #171a1fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0 80px 0;
  color: #ffffffff;
}

.mainLayout h2 {
  margin: 40px 0 20px 0;
}

.mainLayout p {
  max-width: 600px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .mainLayout {
    padding: 40px 27px;
  }
}
