.mainLayout {
  background-color: var(--background-color-171a1ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: var(--textFeatureOne-mainLayout-padding);
  color: var(--font-color-white);
}

.mainLayout h2 {
  margin: var(--margin-40-20);
}

.mainLayout p {
  max-width: 600px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .mainLayout {
    padding: 40px 27px;
  }
}
