.Header {
  display: flex;
  flex-direction: column;
  margin: 60px 100px 0 100px;
  max-width: var(--max-width);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.HeaderText {
  display: flex;
  flex-direction: column;
}

.image {
  max-width: 85%;
  display: block;
  margin: 0 auto;
  height: auto;
}
