.Header {
  display: flex;
  flex-direction: column;
  margin: var(--margin-60-100);
  max-width: var(--max-width);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.HeaderText {
  display: flex;
  flex-direction: column;
}

.image {
  max-width: 85%;
  display: block;
  margin: var(--margin-0-auto);
  height: auto;
}
